<div style="text-align:center; font-size: 48px;">Titanic Competition Kaggle</div>
<div style="text-align:center; font-size: 36px;">Sumbission</div>

# 0. import libraries

In [1]:
import pandas as pd 
import xgboost as xgb
import joblib

# 1. load data

In [2]:
sub = pd.read_csv('../data/processed/test_processed.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      418 non-null    int64
 1   Pclass           418 non-null    int64
 2   Sex              418 non-null    int64
 3   Age              418 non-null    float64
 4   Fare             418 non-null    float64
 5   Embarked         418 non-null    int64
 6   Title            418 non-null    object
 7   AgeGroup         418 non-null    int64
 8   isfamilyonboard  418 non-null    int64
 9   TicketGroupSize  418 non-null    int64
 10  Title_Miss       418 non-null    int64
 11  Title_Mr         418 non-null    int64
 12  Title_Mrs        418 non-null    int64
 13  Title_Rare       418 non-null    int64
dtypes: float64(2), int64(11), object(1)
memory usage: 45.8+ KB

In [3]:
sub_x = sub.drop(columns=['PassengerId', 'Title'])
numerical_features = ['Age', 'Fare', 'TicketGroupSize']

In [4]:
scaler = joblib.load('../output/scaler.pkl')

sub_x[numerical_features] = scaler.transform(sub_x[numerical_features])

# 2. load model

In [5]:
gbs_model = joblib.load('../output/gradient_boosting_model.pkl')
ypred = gbs_model.predict(sub_x)

In [6]:
submission = pd.DataFrame({
    'PassengerId': sub['PassengerId'],
    'Survived': ypred
})

submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [7]:
#Sanity check
submission.Survived.value_counts(normalize=True).round(2)

Survived
0    0.63
1    0.37
Name: proportion, dtype: float64

In [8]:
sub_x['Sex'].value_counts(normalize=True).round(2)

Sex
0    0.64
1    0.36
Name: proportion, dtype: float64

# 3. Save submission file

In [9]:
submission.to_csv('../output/submission.csv', index=False)

In [10]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1